@import url("../../general.css");

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: linear-gradient(270deg, #5b28c1, #6cc128, #0032ff);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 25s ease infinite;
  -moz-animation: AnimationName 25s ease infinite;
  -o-animation: AnimationName 25s ease infinite;
  animation: AnimationName 25s ease infinite;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

span {
  font-size: 7rem;
  margin-bottom: 25%;
  text-align: center;
}

.buttons-container {
  display: flex;
  gap: 25px;
}

button {
  padding: 15px 25px;
  font-size: 2rem;
  border-radius: 25px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(0.9);
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
